<!DOCTYPE html>
<html>
<head>
  {% if page.use_math %}
  {% include _mathjax_support.html %}
  {% endif %}

  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ 'css/style.css' | relative_url }}">
</head>
<body>
<div id="header">
  <span class='big'>{{ site.title }}</span>
  <span class='small'>{{ site.subtitle }}</span>
</div>

<div id="nav">
  <a href="{{ 'index' | relative_url }}">Welcome</a> •
  <a href="{{ 'about-me'   | relative_url }}">About Me</a> •
  <a href="{{ 'projects' | relative_url }}">Projects</a> •
  <a href="{{ 'blog' | relative_url }}">Blog Posts</a>
</div>

<div id="content">
  {{ content }}
</div>

</body>
</html>

